.main{
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    & .main-title{
        display: flex;
        flex-direction: column;
        width: 40%;
        color: var(--color-white);
        gap: 20px;
        & h1{
            max-width: 70%;
            font-size: 50px;
            line-height: 1.2;
        }

        & p{
            max-width: 70%;
        }

        & .button{
            border: none;
            background: var(--color-white);
            color: var(--color-primary);
            width: 120px;
            height: 35px;
            border-radius: 15px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 600;
            margin-top: 15px;
        }
    }

    & .main-img{
        display: flex;
        z-index: 0;
    }
}

.wave{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 530px;
}


@media screen and (max-width: 730px) {
    .main{
        flex-direction: column;
        position: static;
    }

    .main-title{
        order: 2;
        width: 100%;
    }

    .main-title h1 {
        max-width: 100%; /* Altere de width para max-width se quiser que o texto ocupe o máximo possível */
        font-size: 24px; /* Altere o tamanho da fonte conforme necessário */
        line-height: normal;
        text-align: left; /* Centraliza o texto */
    }


    .main-img img{
        width: 300px;
    }


    .wave{
        display: none;
    }
}